*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
}


header {
    background-color: #0807077e;
    color: #fff;
    padding: 10px 0;
    height: 1vw;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}


#Home {
    margin-right: 1%;
    float: left;
}

#About,
#Contact {
    margin-left: auto;
    float: right;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


#quiz-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 5vw;
    background-color: rgba(244, 111, 22, 0.246);
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
